.categories__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-left: 110px;
    margin-top: 60px;
}

.categories__image {
    width: 8px;
    height: 12px;
    margin-top: 7px;
}

.categories__link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.categories__description {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    opacity: 0.5;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
}


.where__you__are {
    display: flex;
    margin-left: 110px;
    gap: 20px;
}

.categories__list__image__flamingo {
    display: flex;
    background: #EADDD3;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    justify-content: center;
    align-items: center;
}

.categories__list__image__dress {
    display: flex;
    background: #E5EAF8;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    justify-content: center;
    align-items: center;
}

.categories__list__1 {
    display: flex;
    margin-left: 70px;
    margin-top: -60px;
    gap: 20px;
}

.categories__list__2 {
    display: flex;
    margin-left: 250px;
    gap: 20px;
}

.categories__list__item__flamingo {
    display: flex;
    background: #F3D0DB;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    justify-content: center;
    align-items: center;
}

.categories__list__item__dress {
    display: flex;
    background: #E5EAF8;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-left: 287px;
}

.about__list {
    display: block;
    margin-left: 188px;
    margin-top: -12px;
}

.about__list__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.footer__catalog {
    margin-top: 0px;
    background-color: #434343;
}