.footer__contact {
    margin-top: 65px;
    background-color: #434343;
}

.userdata__frame {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}


.userdata {
    display: inline-block;
    flex-direction: column;
    justify-content: left;
    background: #E5EAF8;
    position: absolute;
    left: 25%;
    top: 13%;
}

.last_wrap {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.otstup {
    padding-top: 40px;
}

.perfect_wrap {
    display: flex;
    flex-direction: column;
}

.text1 {
    width: 580px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.text2 {
    width: 280px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.text3 {
    width: 280px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.text4 {
    width: 580px;
    height: 175px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.special_wrap {
    display: flex;
    gap: 14px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.check {
    margin-left: 30px;
}

.accept_setting {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.condition {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.back2 {
    display: flex;
}

.describe {
    margin-top: -22px;
    margin-left: 120px;
}

.describe__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.describe__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}

.needed {
    display: inline-block;
    padding-bottom: 40px;
}

.button_wrap {
    margin-left: 30px;
}
