.common_back {
    background-color: #EEE4DB;
    margin-top: 129px;
    margin-left: 110px;
    margin-right: 110px;
    display: flex;
    padding-bottom: 63px;
}

.slides__list__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #1E0606;
}

.slides__rectangles {
    gap: 11px;
    background: none;
    margin-top: 6px;
}


.slides__list__logo {
    width: 61px;
    height: 61px;
    margin-top: 17px;
    margin-left: 28px;
    padding-bottom: 10px;
}

.rectangular__button {
    width: 31px;
    height: 3px;
    background: #D6CAC2;
}

.rectangular__button__current {
    width: 31px;
    height: 3px;
    background: rgba(30, 6, 6, 0.6);
}

.slides__list__description {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.slides__list__image {
    width: 635.49px;
    height: 461px;
    position: absolute;
    margin-left: 425px;
    margin-right: 99.51px;
    margin-top: -89px;
}

.slides__content
{
    display: block;
}
.slides__list__title {
    margin-top: 98px;
    margin-left: 44px;
}

.slides__list__description {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 44px;
}

.special__button {
    margin-left: 44px;
}

.bottomline {
    display: block;
    justify-content: end;
    background-color: #C29974;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 0px;
    margin-bottom: 90px;
}

.slides__list__afterwords {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;;
}





.categories__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-left: 110px;
}

.categories__list__item__h {
    display: flex;
    background: #DBE4DB;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    justify-content: center;
    align-items: center;
}

.categories__list__link {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.categories__list {
    display: flex;
    gap: 30px;
    margin-left: 69px;
    margin-right: 110px;
    justify-content: space-between;
}

.categories__list__image__h {
    width: 244px;
    height: 177px;
    display: flex;
}

.categories__list__image__s {
    width: 208px;
    height: 244px;
    display: flex;
}

.categories__list__image__d {
    width: 260px;
    height: 260px;
    display: flex;
}

.categories__list__image__dude {
    width: 240px;
    height: 250px;
    display: flex;
}

.categories__list__item__s {
    display: flex;
    background: #EADDD3;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    justify-content: center;
    align-items: center;
}

.categories__list__item__d {
    display: flex;
    background: #ffe2cb;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    justify-content: center;
    align-items: center;
}

.categories__list__item__dude {
    display: flex;
    background: #D5D4E1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    justify-content: center;
    align-items: center;
}

.categories__switches {
    margin-left: 110px;
    margin-top: 33px;
}

.categories__switches__switch {
    border: none;
}

.categories__description {
    display: flex;
    margin-left: 190px;
    margin-top: -39px;
    padding-bottom: 90px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.about__list__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-left: 60px;
}

.about__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.banner {
    display: flex;
    margin-left: 110px;
}

.banner__list {
    margin-left: 15px;
    margin-bottom: 60px;
}

.banner__list__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-left: 60px;
    text-transform: uppercase;
}

.banner__button {
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 22px;
    padding-right: 22px;
    background: #000000;
    margin-left: 60px;
    margin-top: 10px;
}

.banner__list__button__main {
    padding-left: 60px;
    padding-right: 180px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: rgba(112, 187, 220, 0.2);
    border: none;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
}

.banner__list__button {
    padding-left: 60px;
    padding-right: 180px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    border: none;
    background-color: #FFFFFF;
}

.about__list {
    display: flex;
    margin-left: 70px;
    margin-right: 110px;
    gap: 92px;
    margin-top: 90px;
}

.about__list__image__a {
    margin-top: -5px;
}

.about__title__1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    position: absolute;
    margin-top: -35px;
}

.about__title__2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    position: absolute;
    margin-top: -65px;
}

.another__wrap {
    display: flex;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 100px;
    gap: 30px;
}

.about__write {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    margin-top: 15px;
}

.about__button {
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 5px;
    background: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.first__section {
    display: inline-block;
    background-color: #E1F0F7;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 27px;
}

.second__section {
    display: inline-block;
    background-color: #E1F0F7;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 41px;
    padding-bottom: 50px;
}

.map {
    position: absolute;
    width: 450px;
    height: 250px;
    margin-left: 580px;
    margin-top: 160px;
}

.footer__index {
    margin-top: 185px;
    background-color: #434343;
}

