.footer__toys {
    margin-top: 55px;
    background-color: #434343;
}

.where {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 5px;
}

.where__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

.where__link {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.where__description {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    opacity: 0.5;
    margin-top: 0px;
}

.first__wrap {
    display: flex;
    gap: 20px;
    justify-content: baseline;
    margin-bottom: 30px;
    margin-top: -15px;
}

.where__image {
    width: 8px;
    height: 12px;
    margin-top: 7px;
}

.back {
    background: rgba(125, 151, 218, 0.2);
}

.naming {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-top: 50px;
    margin-bottom: 10px;
}

.setting {
    display: flex;
}

.form_1 {
    margin-right: 80px;
}

.form_1 input {
    width: 188px;
    height: 4px;
}

.min_meaning {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: -3px;
    color: #1E0606;
}

.max_meaning {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: -2px;
    color: #1E0606;
    position: relative;
    margin-left: 177px;
    margin-top: -38px;
}

.form_2 {
    margin-right: 80px;
}

.box_naming {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-left: 4.5px;
    width: 45px;
    height: 35px;
}

.middle {
    display: flex;
    position: relative;
    top: -16px;
    left: 6px;
}

.form_3 {
    margin-right: 80px;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 40px;
}

.box__in__boxes {
    display: flex;
}

.box__in__boxes input {
    position: relative;
    top: -6.2px;
}

.form_3 {
    display: flex;
    flex-direction: column;
}

.form_4 {
    margin-right: 80px;
}

.difficult {
    display: flex;
    gap: 0px;
}

.difficult input {
    display: none;
}

.difficult label {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
	user-select: none;
}

.difficult input[type=radio]:checked + label {
	background: #F3D0DB;
}

.b {background: #FFFFFF;}

.setting__button {
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 22px;
    padding-right: 22px;
    background: #000000;
    border: #000000;
}

.bottom_wrap {
    display: inline;
    margin-top: 84px;
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog__list__title2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
}

.catalog__list__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
}

.catalog__list__image {
    width: 375px;
    height: 380px;
}

.catalog__list {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}


.catalog__list2__page1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #C29974;
    background-color: #FFFFFF;
    border: none;
}

.catalog__list2__page2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
    background-color: #FFFFFF;
    border: none;
}

.catalog__list2 {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 25px;
}